<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 mb-4" *ngFor="let product of products">
      <div class="card h-100 shadow-sm">
        <img [src]="product.imageUrl" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{product.price}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{product.name}}</h6>
          <p class="card-text">{{product.weight}}</p>
          <p class="card-text">{{product.description}}</p>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <button mat-icon-button color="accent">
              <mat-icon>remove</mat-icon>
            </button>
            <span>1</span>
            <button mat-icon-button color="accent">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <button mat-raised-button color="primary" class="w-100">Añadir al carro</button>
        </div>
      </div>
    </div>
  </div>
</div>