<div class="container-fluid min-vh-100">
  <div class="row">
    <div class="col-12 pt-3">
      <h4>Productos en tienda</h4>
      <span class="px-2 py-1 rounded bg-light text-muted">22.456 productos cargados</span>
      <div class="float-end">
        <input type="text" class="form-control d-inline-block w-auto" [(ngModel)]="searchText" placeholder="Buscar producto">
        <button class="btn btn-light d-inline-block">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div>
    <div class="col-12 mt-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Referencia</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>N° Disp</th>
            <th>Departamento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos">
            <td>{{ producto.referencia }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.marca }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.disponible }}</td>
            <td>{{ producto.departamento }}</td>
            <td>
              <i class="material-icons text-success" style="cursor: pointer;">edit</i>
              <i class="material-icons text-success" style="cursor: pointer;">delete</i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>