.navbar {
  background-color: #f1f1ee;
  padding: 15px 30px;
}

.logo img {
  width: 40px;
}

.nav-items span {
  font-size: 16px;
  color: #363232;
}

.btn-add-product {
  background-color: #2e3d3c !important;
  color: #ffffff !important;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}