<div class="navbar bg-light">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <div class="logo d-flex align-items-center">
      <img src="assets/logo.png" alt="logo" class="me-2">
      <div>
        <h5 class="m-0">MI COMPRA</h5>
        <small>SUPERMERCADO</small>
      </div>
    </div>
    <div class="nav-items d-flex align-items-center">
      <span class="me-4">Item1</span>
      <span class="me-4">Item2</span>
      <span class="me-4">Item3</span>
      <span class="me-4">Item4</span>
    </div>
    <button mat-raised-button color="primary" class="btn-add-product" (click)="navigateToManageProduct()">
      <mat-icon class="me-2">add</mat-icon>Añadir producto
    </button>
  </div>
</div>
